[submodule "yara"]
	path = yara
	url = https://github.com/DavidTurland/yara.git
	branch = yara_scanner_copy
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "pistache"]
	path = pistache
	url = https://github.com/pistacheio/pistache.git
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "simple-cpp-logger"]
	path = simple-cpp-logger
	url = https://github.com/nadrino/simple-cpp-logger.git
